---
Checks: >
  *,
  -abseil-string-find-startswith,
  -bugprone-bool-pointer-implicit-conversion,
  -bugprone-exception-escape,
  -bugprone-signed-char-misuse,
  -cert-dcl50-cpp,
  -cert-env33-c,
  -cert-mem57-cpp,
  -cert-oop57-cpp,
  -cert-oop58-cpp,
  -clang-analyzer-*,
  -clang-diagnostic-*,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -misc-bool-pointer-implicit-conversion,
  -misc-non-private-member-variables-in-classes,
  -modernize-avoid-c-arrays,
  -modernize-use-default-member-init,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -objc-*,
  -openmp-exception-escape,
  -readability-function-size,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-simplify-boolean-expr,
  -readability-convert-member-functions-to-static,
  -zircon-*,
  -cert-dcl03-c,
  -cert-dcl16-c,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-dcl54-cpp,
  -cert-dcl59-cpp,
  -cert-err09-cpp,
  -cert-err61-cpp,
  -cert-fio38-c,
  -cert-msc30-c,
  -cert-msc32-c,
  -cert-oop11-cpp,
  -cert-oop54-cpp,
  -cert-pos44-c,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -fuchsia-header-anon-namespaces,
  -hicpp-avoid-c-arrays,
  -hicpp-deprecated-headers,
  -hicpp-explicit-conversions,
  -hicpp-function-size,
  -hicpp-invalid-access-moved,
  -hicpp-member-init,
  -hicpp-move-const-arg,
  -hicpp-named-parameter,
  -hicpp-new-delete-operators,
  -hicpp-no-array-decay,
  -hicpp-no-malloc,
  -hicpp-noexcept-move,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -hicpp-static-assert,
  -hicpp-undelegated-constructor,
  -hicpp-use-emplace,
  -hicpp-use-noexcept,
  -hicpp-vararg,
  -llvm-*,
  -llvmlibc-*,
  google-default-arguments,
  google-explicit-constructor,
  google-runtime-operator

CheckOptions:
  - { key: readability-identifier-naming.ClassCase,             value: CamelCase  }
  - { key: readability-identifier-naming.PrivateMemberSuffix,   value: _          }
  - { key: readability-identifier-naming.ProtectedMemberSuffix, value: _          }
  - { key: readability-identifier-naming.PrivateMemberCase,     value: camelBack  }
  - { key: readability-identifier-naming.PrivateMethodCase,     value: camelBack  }
  - { key: readability-identifier-naming.ProtectedMemberCase,   value: camelBack  }
  - { key: readability-identifier-naming.ProtectedMethodCase,   value: camelBack  }
  - { key: readability-identifier-naming.PublicMethodCase,      value: aNy_CasE  }
  - { key: readability-identifier-naming.StructCase,            value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,          value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase,          value: camelBack  }
  - { key: readability-identifier-naming.GlobalConstantCase,  value: UPPER_CASE }